<div class="square-panel" ng-show="selectedSquare">
    <div class="square-main-panel" ng-hide="selectedPanel">
        <div class="panel-button build" ng-click="openBuildPanel()"></div>
    </div>

    <div class="square-build-panel" ng-show="selectedPanel === 'build'">
        <div ng-repeat="building in availableBuildings"
             ng-class="['panel-button', 'building-' + building.buildingClass.name]"
             ng-click="build(building.buildingClass)"></div>
        <div class="panel-button back" ng-click="openMainPanel()"></div>
    </div>
</div>