.square-panel {

  .back {
    background-image: url('/app/images/arrow-point-to-right.png');
    transform: rotate(180deg);
    filter: invert(1);
    background-size: 20px;
  }

  .square-main-panel .build {
    background-image: url('/app/images/saw.svg');
    filter: invert(1);
  }

  .square-build-panel {

    .building-Market {
      background-image: url('https://www.iconexperience.com/_img/m_collection_png/512x512/plain/market_stand.png');
    }

    .building-Tavern {
      background-image: url('http://simpleicon.com/wp-content/uploads/beer1.png');
      background-color: rgb(160, 97, 95);
      filter: invert(1);
    }

  }

}

