<div class="main-container">
    <div ng-include="'app_modules/map/map.html'" ng-controller="MapCtrl" class="map-ctrl"></div>
    <div ng-include="'app_modules/storage/storage.html'" ng-controller="StorageCtrl"
         class="storage-ctrl" ng-style="{'height': storagePanelHeight + 'px'}"></div>
    <div ng-include="'app_modules/kingdom_actions_panel/kingdom_actions_panel.html'"
         ng-controller="KingdomActionsPanelCtrl" class="control-panel"
         ng-show="activeControlPanel === null"
         ng-style="{'height': controlPanelHeight + 'px',
                    'top': controlPanelTop + 'px'}"></div>
    <div ng-include="'app_modules/square_panel/square_panel.html'"
         ng-controller="SquarePanelCtrl" class="control-panel"
         ng-show="activeControlPanel === 'square_panel'"
         ng-style="{'height': controlPanelHeight + 'px',
                    'top': controlPanelTop + 'px'}"></div>
    <div ng-controller="InitCtrl"></div>
</div>
