.main-container {
  margin: 0px auto 0px auto;
  width: 1002px;
  position: relative;

  .storage-ctrl {
    position: absolute;
    top: 21px;
    right: -190px;
    width: 190px;
    height: 145px;
    border: 1px solid black;
    border-left-width: 0px;
    border-radius: 0px 5px 5px 0px;
    transition: all .1s;
  }

  .control-panel {
    position: absolute;
    top: 183px;
    right: -190px;
    width: 190px;
    height: 600px;
    border: 1px solid black;
    border-left-width: 0px;
    border-radius: 0px 5px 5px 0px;
    transition: all .1s;
    margin: 0px;
    padding: 6px 6px 6px 6px;
  }

}
