.res-panel-resources {
  margin: 0px;
  padding: 3px 2px 2px 6px;

  .resource-item {
    list-style-type: none;
    font-size: 20px;
    font-family: cursive;
    position: relative;
  }

  .resource-amount {
    position: absolute;
    right: 100px;
    top: 0px;
  }

  .resource-icon {
    position: absolute;
    right: 10px;
    width: 77px;
    height: 25px;
    top: 1px;
  }

  .resource-icon-arrow {
    background: transparent url('/app/images/arrow-point-to-right.png') no-repeat center center;
    background-size: 15px;
    height: 25px;
    width: 25px;
    position: absolute;
    border-radius: 4px;
    left: 25px;
  }

  .resource-icon-source {
    background: transparent none no-repeat center center;
    background-size: 19px;
    height: 25px;
    width: 25px;
    position: absolute;
    border-radius: 4px;
    left: 0px;
  }

  .resource-icon-dest {
    background: transparent none no-repeat center center;
    background-size: 19px;
    height: 25px;
    width: 25px;
    position: absolute;
    border-radius: 4px;
    left: 50px;
  }

  .resource-wood {
    .resource-icon-source {
      background-color: rgba(118, 67, 0, 0.9);
      background-image: url('/app/images/forest.png');
    }
    .resource-icon-dest {
      background-color: rgba(32, 128, 0, 0.9);
      background-image: url('/app/images/plain.png');
    }
  }

  .resource-stone {
    .resource-icon-source {
      background-color: rgba(153, 170, 153, 0.9);
      background-image: url('/app/images/hill.png');
    }
    .resource-icon-dest {
      background-color: rgba(118, 67, 0, 0.9);
      background-image: url('/app/images/forest.png') ;
    }
  }

  .resource-metal {
    .resource-icon-source {
      background-color: rgba(204, 204, 204, 0.9);
      background-image: url('/app/images/mountain.png');
    }
    .resource-icon-dest {
      background-color: rgba(153, 170, 153, 0.9);
      background-image: url('/app/images/hill.png');
    }
  }

  .resource-food {
    .resource-icon-source {
      background-color: rgba(32, 128, 0, 0.9);
      background-image: url('/app/images/plain.png');
    }
    .resource-icon-dest {
      background-color: rgba(204, 204, 204, 0.9);
      background-image: url('/app/images/mountain.png');
    }
  }

  .res-gold {
    .res-amount {
      position: absolute;
      right: 100px;
    }
    .res-income {
      position: absolute;
      left: 91px;
    }
  }

}

