<div>
    <ul class="res-panel-resources">
        <li ng-repeat="resName in ::basicResources"
            ng-class="['resource-item', 'resource-' + resName]">
            {{ ::resDisplayNames[resName] }}
            <span class="resource-amount">{{ resources[resName] }}</span>
            <div class="resource-icon">
                <span class="resource-icon-source"></span>
                <span class="resource-icon-arrow"></span>
                <span class="resource-icon-dest"></span>
            </div>
        </li>
        <li ng-repeat="resName in advancedResourcesAcquired"
            ng-class="['resource-item', 'resource-' + resName]">
            {{ ::resDisplayNames[resName] }}
            <span class="resource-amount">{{ resources[resName] }}</span>
            <div class="resource-icon">
                <span class="resource-icon-source"></span>
            </div>
        </li>
        <li class="resource-item res-gold">
            Gold <span class="res-amount">{{ getGold() }}</span>
            <span class="res-income">{{ getGoldIncome() }}</span>
        </li>
    </ul>
</div>