.map-block:hover:after {
  content: " x" attr(data-x) " y" attr(data-y) "\00000a  rx" attr(data-rx) " ry" attr(data-ry);
  white-space: pre;
  color: white;
  font-size: 10px;
}

.map-block:after {
  content: attr(data-value) " \00000a ";
  white-space: pre;
  color: white;
  font-size: 10px;
}

.map-region:hover {
  border: 1px solid black;
  box-sizing: content-box;
  margin-left: -1px;
  margin-top: -1px;
  border-radius: 4px;
}