body {
  cursor: default;
}

.panel-button {
  width: 50px;
  height: 50px;
  float: left;
  border-radius: 3px;
  background-size: 38px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: cadetblue;
  transition: all .1s;
  margin-right: 6px;
}

.panel-button:not(.panel-button-inactive):hover {
  border-radius: 6px;
}

.panel-button.panel-button-inactive {
  filter: brightness(0.9) contrast(1.2) grayscale(1.0);
}

@import 'app_modules/kingdom_actions_panel/kingdom_actions_panel.less';
@import 'app_modules/storage/storage.less';
@import 'app_modules/square_panel/square_panel.less';
@import 'app_modules/map/map.less';
@import 'app_modules/map/map_scrolls.less';
@import 'app_modules/map/map_keyframes.less';
@import 'app_modules/layout/layout.less';