<div class="map-window">
    <div class="map-content" ng-style="{'top': mapScroll.top + 'px', 'left': mapScroll.left + 'px'}">
        <div class="map-blocks" ng-class="{'map-blocks-any-improved': anyBlockImproved,
                                           'map-blocks-read-only': readOnly,
                                           'map-blocks-capturing': selectionMode === 'captureLand',
                                           'map-blocks-disclaiming': selectionMode === 'disclaimLand'}">
            <div class="map-region" ng-repeat="region in regions"
                 data-x="{{region.x}}" data-y="{{region.y}}"
                 ng-style="{'left': region.x * regionWidth + 'px', 'top': region.y * regionHeight + 'px',
                            'width': regionWidth + 'px', 'height': regionHeight + 'px'}">
                <div class="map-row" ng-repeat="row in region.blocks">
                    <div class="map-block" ng-repeat="block in row"
                         ng-class="['map-block-' + block.kind.cssClass,
                            'map-block-lvl-' + block.level,
                            'map-block-pos-' + block.squarePos,
                            'map-block-ownedBy-' + (block.ownedBy ? block.ownedBy.playerId : 'nobody'),
                            {'map-block-affordable': block.affordableForPlayer(currentPlayer),
                             'map-block-ownedBy-current-player': currentPlayer === block.ownedBy,
                             'map-block-improvable': block.kind.improvable,
                             'map-block-exhausted': block.exhausted,
                             'map-block-rich': block.rich,
                             'map-block-disabled': block.disabled,
                             'map-block-mutating': block.isMutating}]"
                         ng-click="selectBlock(block)"
                         data-xng-style="{'background-color': 'rgb(' + block.baseAiValue + ', 0, 255)'}"
                         data-x="{{block.x}}" data-y="{{block.y}}"
                         data-rx="{{region.x}}" data-ry="{{region.y}}"
                         data-value="{{block.aiValueForPlayer['player-AI-0']}}"></div>
                </div>
            </div>
            <div ng-repeat="square in squares"
                 ng-style="{'left': (square.regionX * regionWidth + square.x * blockWidth) + 'px',
                            'top': (square.regionY * regionHeight + square.y * blockHeight) + 'px',
                            'width': square.getWidth() * blockWidth + 'px',
                            'height': square.getHeight() * blockHeight + 'px'}"
                 ng-class="['map-square', 'map-square-lvl-' + square.level,
                     {'map-square-ownedBy-current-player': currentPlayer === square.player}]"
                 ng-click="selectSquare(square)">
                <div class="map-block" ng-repeat="block in square.blocks"
                     ng-class="['map-block-' + block.kind.cssClass,
                        'map-block-lvl-' + block.level,
                        'map-block-pos-' + block.squarePos,
                        'map-block-ownedBy-' + (block.ownedBy ? block.ownedBy.playerId : 'nobody'),
                        {'map-block-affordable': block.affordableForPlayer(currentPlayer),
                         'map-block-ownedBy-current-player': currentPlayer === block.ownedBy,
                         'map-block-improvable': block.kind.improvable,
                         'map-block-exhausted': block.exhausted,
                         'map-block-rich': block.rich,
                         'map-block-disabled': block.disabled,
                         'map-block-mutating': block.isMutating}]"
                     ng-click="selectBlockInSquare(block)"
                     data-xng-style="{'background-color': 'rgb(' + block.baseAiValue + ', 0, 255)'}"
                     data-x="{{block.x}}" data-y="{{block.y}}"
                     data-rx="{{block.region.x}}" data-ry="{{block.region.y}}"
                     data-value="{{block.aiValueForPlayer['player-AI-0']}}"></div>
            </div>
        </div>
    </div>
    <div class="map-scrolls">
        <div class="map-scroll-up map-scroll-item" ng-mouseenter="scroll('up')" ng-mouseout="stopScrolling()"></div>
        <div class="map-scroll-right map-scroll-item" ng-mouseover="scroll('right')" ng-mouseout="stopScrolling()"></div>
        <div class="map-scroll-down map-scroll-item" ng-mouseover="scroll('down')" ng-mouseout="stopScrolling()"></div>
        <div class="map-scroll-left map-scroll-item" ng-mouseover="scroll('left')" ng-mouseout="stopScrolling()"></div>
    </div>
</div>
<div class="game-end-overlay" ng-class="{'game-end-overlay-shown': gameEnd}">
    <div class="game-end-window">
        <div ng-show="gameEnd == 'playerDefeated'">You have been defeated!</div>
        <div ng-show="gameEnd == 'playerWins'">You win!</div>
    </div>
</div>