.map-window {
  width: 1000px;
  height: 800px;
  overflow: hidden;
  position: relative;
  border: 1px solid black;
  box-sizing: content-box;
}

.map-content {
  position: absolute;
  transition-duration: 0.03s;
}

.map-blocks {

  .map-region {
    position: absolute;
    z-index: 1;
  }

  .map-block {
    float: left;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    margin: 1px;
    font-size: 11px;
    background-size: 40px;
    background-origin: border-box;
    background-position: center center;
    background-repeat: no-repeat no-repeat;
    transition: all .1s;
    font-family: sans-serif;

    &.map-block-lvl-2:before {
      content: 'II'
    }

    &.map-block-lvl-3:before {
      content: 'III'
    }

    &.map-block-lvl-4:before {
      content: 'IV'
    }

    &.map-block-lvl-5:before {
      content: 'V'
    }

    .map-block-padding-loop(@i: 5) when (@i >= 2) {
      .map-block-padding-loop((@i - 1));
      &.map-block-pos-left-bottom.map-block-lvl-@{i},
      &.map-block-pos-left.map-block-lvl-@{i},
      &.map-block-pos-left-top.map-block-lvl-@{i} {
        padding-left: 2px;
      }

      &.map-block-pos-right-top.map-block-lvl-@{i},
      &.map-block-pos-top.map-block-lvl-@{i},
      &.map-block-pos-left-top.map-block-lvl-@{i} {
        padding-top: 2px;
      }
    }
    .map-block-padding-loop();

    &.map-block-mutating {
      filter: brightness(0%);
      transition-duration: .75s;
      animation-duration: 1s;
      animation-delay: 1s;
      background-image: none !important;
    }

    .block-kind-mixin(@kind, @bg-color, @rich-bg-color) {
      &.map-block-@{kind} {
        background-color: @bg-color;
        background-image: url('/app/images/@{kind}.png');

        .map-block-owned-mixin();

        &.map-block-rich {
          background-color: @rich-bg-color;
          background-image: url('/app/images/rich_@{kind}.png');

          &.map-block-mutating {
            animation-name: ~'block-mutating-@{kind}-rich';
          }
        }

        &.map-block-mutating {
          animation-name: ~'block-mutating-@{kind}';
        }
      }
    }

    .block-adv-kind-mixin(@kind, @bg-color) {
      &.map-block-@{kind} {
        background-color: @bg-color;
        background-image: url('/app/images/@{kind}.png');

        .map-block-owned-mixin();

        &.map-block-mutating {
          animation-name: ~'block-mutating-@{kind}';
        }
      }
    }

    .block-kind-mixin(forest, #764300, #502400);
    .block-kind-mixin(hill, #9a9, #667466);
    .block-kind-mixin(mountain, #dbd5d5, #e0e0f0);
    .block-kind-mixin(plain, #208000, #004900);
    .block-adv-kind-mixin(coalfield, #404842);
    .block-adv-kind-mixin(wild-horses, #af8a00);
    .block-adv-kind-mixin(gold-deposit, #c8871c);
    .block-adv-kind-mixin(silver-deposit, #445a59);
    .block-adv-kind-mixin(gemstone-deposit, #531941);

    &.map-block-coalfield {
      background-size: 37px !important;
      background-position: center 21px;
    }

    &.map-block-wild-horses {
      background-size: 42px !important;
      background-position: 4px 5px;

      &.map-block-lvl-1 {
        background-position-y: 4px;
      }

      &.map-block-pos-left-bottom,
      &.map-block-pos-bottom,
      &.map-block-pos-right-bottom {
        background-position-y: 3px; /* TODO: changing background position for all kinds */
      }
    }

    &.map-block-gemstone-deposit {
      background-size: 36px !important;
      background-position: center 7px;
    }

    &.map-block-water {
      background-color: #26e;
      background-image: url('/app/images/water.png');
      background-size: 46px !important;

      &.map-block-mutating {
        animation-name: block-mutating-water;
      }
    }

    .map-block-owned-mixin() {

      .map-block-ownedBy-player-mixin(@player-id, @bg-color) {
        &.map-block-ownedBy-player-@{player-id} {
          &, &.map-block-rich {
            background-color: @bg-color;
          }
        }
      }

      .map-block-ownedBy-player-mixin(human, #46D);

      @AI-players-colors: #c23, #ec0, #9E1DA5, #309AA4, #FF8814, #EE4D79,
        #70A0D8, #E84F24, #AE4F79, #2090E8, #D4E42A, #7050D8, #1050B8,
        #888008, #48388A, #10C8B8, #AF6018;

      .AI-players-colors-loop(@i: length(@AI-players-colors)) when (@i > 0) {
        @color: extract(@AI-players-colors, @i);
        @player-no: (@i - 1);
        @player-id: ~'AI-@{player-no}';
        .map-block-ownedBy-player-mixin(@player-id, @color);
        .AI-players-colors-loop((@i - 1));
      }

      .AI-players-colors-loop();

      &.map-block-ownedBy-player-AI-1.map-block-disabled {
        &, &.map-block-rich {
          background-color: #fd1;
          opacity: .5;
        }
      }
    }

    &.map-block-lvl-1 {
      border: 2px solid black;
    }

    &.map-block-exhausted {
      transition-property: all;
      transition-duration: 1s;
      background-color: #111 !important;
      background-size: 0px !important;
      transform: rotateY(180deg);
    }

    &.map-block-disabled {
      opacity: .66;
    }
  }

  .map-square-lvl-2 .map-block,
  .map-square-lvl-3 .map-block,
  .map-square-lvl-4 .map-block,
  .map-square-lvl-5 .map-block {
    border: 3px solid transparent;

    &.map-block-pos-left {
      border-left-color: black;
      --border-left-color-sat: 1;
    }

    &.map-block-pos-right {
      border-right-color: black;
      --border-right-color-sat: 1;
    }

    &.map-block-pos-bottom {
      border-bottom-color: black;
      --border-bottom-color-sat: 1;
    }

    &.map-block-pos-top {
      border-top-color: black;
      --border-top-color-sat: 1;
    }

    &.map-block-pos-left-top {
      border-left-color: black;
      border-top-color: black;
      border-radius: 9px 0px 0px 0px;
      --border-left-color-sat: 1;
      --border-top-color-sat: 1;
    }

    &.map-block-pos-right-top {
      border-right-color: black;
      border-top-color: black;
      border-radius: 0px 9px 0px 0px;
      --border-right-color-sat: 1;
      --border-top-color-sat: 1;
    }

    &.map-block-pos-left-bottom {
      border-left-color: black;
      border-bottom-color: black;
      border-radius: 0px 0px 0px 9px;
      --border-left-color-sat: 1;
      --border-bottom-color-sat: 1;
    }

    &.map-block-pos-right-bottom {
      border-right-color: black;
      border-bottom-color: black;
      border-radius: 0px 0px 9px 0px;
      --border-right-color-sat: 1;
      --border-bottom-color-sat: 1;
    }
  }

  @improvable-block: ~'.map-block.map-block-lvl-0.map-block-affordable.map-block-improvable:not(.map-block-exhausted)';

  &.map-blocks-capturing {
    @{improvable-block} {
      border-radius: 18px;
    }

    &:not(.map-blocks-read-only) {
      @{improvable-block}:hover:not(.map-block-mutating),
      &:not(.map-blocks-any-improved)
          .map-block.map-block-lvl-0.map-block-plain:hover {
        background-color: #262626 !important;
        border-radius: 10px !important;
      }
    }
  }

  @disclaimable-block: ~'.map-block.map-block-improvable.map-block-ownedBy-current-player';

  &.map-blocks-disclaiming {
    @{disclaimable-block}:hover {
      border-radius: 14px;
      border-color: transparent;
    }
    .map-square.map-square-ownedBy-current-player:hover .map-block {
      filter: brightness(115%);
    }
  }

  &:not(.map-blocks-disclaiming) .map-square:hover .map-block {
    filter: brightness(110%);
    border-top-color: ~'rgba(255, 165, 0, calc(var(--border-top-color-sat, 0)))';
    border-right-color: ~'rgba(255, 165, 0, calc(var(--border-right-color-sat, 0)))';
    border-bottom-color: ~'rgba(255, 165, 0, calc(var(--border-bottom-color-sat, 0)))';
    border-left-color: ~'rgba(255, 165, 0, calc(var(--border-left-color-sat, 0)))';
    transition: none;
  }

  .map-square {
    position: absolute;
    z-index: 2;
    background-color: white;
  }
}

.game-end-overlay {  /* TODO: move it */
  transition-property: all;
  transition-duration: 0.5s;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 4;
  opacity: 0;
  pointer-events: none;

  &.game-end-overlay-shown {
    opacity: 1.0;
    pointer-events: all;
  }

  .game-end-window {
    position: relative;
    width: 224px;
    height: 63px;
    margin: 315px auto 0px;
    border: 1px solid #722;
    text-align: center;
    padding-top: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 1px #722;
    color: #944;
  }
}