.block-mutating-keyframes-mixin(@kind, @has-rich: '') {
  @animation-name: ~'block-mutating-@{kind}';
  @keyframes @animation-name {
    from {
      filter: brightness(0%);
      background-image: url('/app/images/@{kind}.png');
    }

    to {
      filter: brightness(100%);
      background-image: url('/app/images/@{kind}.png');
    }
  }
  .rich-keyframes-mixin(@has-rich_) when (@has-rich_) {
    @animation-name: ~'block-mutating-@{kind}-rich';
    @keyframes @animation-name {
      from {
        filter: brightness(0%);
        background-image: url('/app/images/rich_@{kind}.png');
      }

      to {
        filter: brightness(100%);
        background-image: url('/app/images/rich_@{kind}.png');
      }
    }
  }
  .rich-keyframes-mixin(@has-rich);
}

.block-rich-mutating-keyframes-mixin(@kind) {
}

.block-mutating-keyframes-mixin(forest, true);
.block-mutating-keyframes-mixin(hill, true);
.block-mutating-keyframes-mixin(mountain, true);
.block-mutating-keyframes-mixin(plain, true);

.block-mutating-keyframes-mixin(coalfield);
.block-mutating-keyframes-mixin(wild-horses);
.block-mutating-keyframes-mixin(gold-deposit);
.block-mutating-keyframes-mixin(silver-deposit);
.block-mutating-keyframes-mixin(gemstone-deposit);
.block-mutating-keyframes-mixin(water);
