.map-scrolls {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 3;

  .map-scroll-item {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    filter: invert(100%);
    background-size: 24px;
    background-color: rgba(255,255,255,0.95);
    background-image: url('/app/images/arrow-point-to-right.png');
    background-size: 24px;
    background-position: 11px center;
    background-repeat: no-repeat;
    opacity: 0.35;
    pointer-events: all;

    &:hover {
      opacity: 0.7;
    }

    &.map-scroll-up {
      top: -60px;
      left: calc(50% - 50px);
      -ms-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      cursor: n-resize;
    }

    &.map-scroll-right {
      right: -60px;
      top: calc(50% - 50px);
      cursor: e-resize;
    }

    &.map-scroll-down {
      bottom: -60px;
      left: calc(50% - 50px);
      -ms-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      cursor: s-resize;
    }

    &.map-scroll-left {
      left: -60px;
      top: calc(50% - 50px);
      transform: rotate(180deg);
      cursor: w-resize;
    }
  }
}
