.kingdom-actions-panel {
  .capture-land {
    background-image: url('/app/images/capture-land.png');
    background-color: #b11e1d;
  }
  .disclaim-land {
    background-image: url('/app/images/disclaim-land.png');
    background-color: #309010;
    background-size: 48px;
    background-position: 0px -1px;
  }
}

