<div class="kingdom-actions-panel">
    <div class="panel-button capture-land" ng-click="selectAction('captureLand')"
        title="Capture suitable neighboring land"></div>
    <div ng-class="['panel-button', 'disclaim-land',
                    {'panel-button-inactive': disclaimCooldown !== 0}]"
         ng-click="selectAction('disclaimLand')"
         ng-attr-title="Abandon your land (WARNING: You will lose tile production and its buildings!) {{
                disclaimCooldown !== 0 ? ' - Cooldown: ' + disclaimCooldown + ' turns' : '' }}"></div>
</div>